VITE_API_LOCAL_URL=http://localhost:8000/api
VITE_API_LIVE_URL=https://api.yourdomain.com/api
VITE_REFRESH_URL=http://localhost:8000/api/auth/refresh
VITE_APP_ENV=development
# VITE_APP_ENV=production
